{% extends "base/base.html" %}
{% load static %}

{% block title %}
    About Us
{% endblock %}

{% block scripts %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<div class="about container mt-5">
    <h1>About Us</h1>

    <!-- Company History -->
    <section class="mt-4">
        <h2>Our History</h2>
        <p>We started our journey in 2010 as a small team passionate about snail farming. Over the years, we evolved into a leading snail farm management web app provider, serving thousands of farms worldwide.</p>
    </section>

    <!-- Creator's Story -->
    <section class="mt-4">
        <h2>Our Creator</h2>
        <p>Meet Kliment Paskalev, the visionary behind our platform. With a background in agriculture and technology, John embarked on a mission to simplify snail farm management through innovative software solutions.</p>
    </section>

    <!-- Business Culture -->
    <section class="mt-4">
        <h2>Our Business Culture</h2>
        <p>We foster a culture of innovation, collaboration, and continuous improvement. Our team is dedicated to providing the best tools for snail farmers, ensuring their success and sustainability.</p>
    </section>

    <!-- Environmental Footprint -->
    <section class="mt-4">
        <h2>Environmental Footprint</h2>
        <p>We are committed to sustainability. Our cloud-based platform minimizes paper usage and supports eco-friendly farming practices. We are proud to contribute to a greener future.</p>
    </section>

    <!-- Hiring Practices -->
    <section class="mt-4">
        <h2>How We Hire</h2>
        <p>We hire talent based on their passion, skills, and dedication. Our hiring process is designed to create a diverse team of experts who share our mission of empowering snail farmers.</p>
    </section>

    <!-- Diversity and Inclusion -->
    <section class="mt-4">
        <h2>Diversity and Inclusion</h2>
        <p>We celebrate diversity and inclusion. Our team comprises individuals from diverse backgrounds, and we actively promote equality and inclusivity in all aspects of our work.</p>
    </section>

    <!-- Low Pay Gap -->
    <section class="mt-4">
        <h2>Low Pay Gap</h2>
        <p>At our company, we ensure pay equity. We maintain a low pay gap and offer competitive compensation to all team members, regardless of gender, race, or background.</p>
    </section>
</div>
{% endblock %}
