{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Frequently Asked Questions
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/faqs.js' %}" defer></script>
{% endblock %}

{% block content %}
<!-- FAQs Accordion Dropdowns -->
<div class="faqs container mt-5">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion" id="faqAccordion">

        {% for faq in faq_data %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeading{{ forloop.counter }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse{{ forloop.counter }}" aria-expanded="false" aria-controls="faqCollapse{{ forloop.counter }}">
                    {{ faq.question }}
                </button>
            </h2>
            <div id="faqCollapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="faqHeading{{ forloop.counter }}" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    {{ faq.answer | safe }}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<style>

    
    body{
        background: linear-gradient(to bottom left, #6c63ff, #ffa659);
        border-radius: 10px;
        color: white;
    }

    .faqs.container {
        padding-bottom: 2rem;
    }

    h2{
        margin: 10px;
    }

    .accordion-item {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
    }


    /* Customize accordion headers */
    .accordion-header {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
        margin: 1rem;
    }

    /* Style accordion anchors (buttons) */
    .accordion-header h2 button {
        color: rgb(172, 16, 149); /* Set anchor text color to white */
        text-decoration: none; /* Remove underline from anchor text */
    }

    /* Customize active accordion header */
    .accordion-header.active {
        background-color:rgb(172, 16, 149); /* Set background color to purple for active header */
    }

    .accordion-body {
        color:purple;
    }

</style>
{% endblock %}
