{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Delete Account
{% endblock %}

{% block scripts %}
    <link href="{% static 'css/delete-account.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<div class="main container mt-4">
    <h1>Delete Your Account</h1>
    <p>Are you sure you want to delete your account? This action cannot be undone.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">Confirm Account Deletion</button>
    </form>
</div>
{% endblock %}