{% extends "base/base.html" %}
{% load static %}

{% block title %}
    User Settings
{% endblock %}

{% block scripts %}
    <link href="{% static 'css/user-settings.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="main container mt-5">
    <h1>User Settings</h1>

    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    {% for error in password_form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endfor %}
    
    <h2>Update User Details</h2>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <div id="button-container">
        <a class="btn btn-secondary" href="{% url 'dashboard' %}">Back to Dashboard</a>
        <a class="btn btn-sml btn-danger" href="{% url 'delete_account' %}">Delete account</a> 
    </div>
</div>
{% endblock %}
