{% extends "bootstrap5/layout.html" %}


{% block content %}
<div class="container mt-5">
    <h1>User Settings</h1>
    
    <h2>Update User Details</h2>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    {% for error in password_form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endfor %}
    
    <p><a href="{% url 'dashboard' %}" class="btn btn-link">Back to Dashboard</a></p>
</div>
{% endblock %}
