{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EscargotIT | {% block title %}{% endblock %}</title>
    <!-- add favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.6.4.min.js' %}" defer></script>
    <!-- Load Bootstrap JavaScript and jQuery (optional) -->
    {% bootstrap_javascript %}
    <!-- loading circle for Dummy data gen btn -->
    <script defer>
        // this triggers the loading circle when users click Generate Dummy Data
        document.addEventListener("DOMContentLoaded", function () {
            // Get a reference to the loading spinner element
            const spinner = document.getElementById("loading-spinner");

            // Get a reference to the "Generate Dummy Data" link
            const generateDummyDataLink = document.querySelector('a[href="{% url "create_snailbeds" %}"]');

            // Add a click event listener to the link
            generateDummyDataLink.addEventListener("click", function (event) {
                // Prevent the default link behavior (page navigation)
                event.preventDefault();

                // Show the loading spinner
                spinner.style.display = "inline-block";

                // Redirect the user after a short delay (simulating a delay)
                window.location.href = generateDummyDataLink.href;
            });
        });
    </script>
    <!-- css for the nav -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <!-- Load Bootstrap CSS -->
    {% bootstrap_css %}
    <!-- here insert any page-specific head tag scripts or stylesheets -->
    {% block scripts %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">EscargotIT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
                    </li>

                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Sign in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if user.is_authenticated %}
    <nav class="navbar second navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'custom_admin_panel' %}">Manage Employees</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i> APIs <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'view-snail-beds' %}" target="_blank">Snail beds</a>
                            <a class="dropdown-item" href="{% url 'view-employee-users' %}" target="_blank">Employees</a>
                        </div>
                    </li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i> {{ user.username }} <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'user_settings' %}">User Settings</a>
                            <a class="dropdown-item" href="{% url 'create_snailbeds' %}">Generate Dummy Data</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
            
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    <!--  loading spinner  -->
    <div id="loading-spinner" class="text-center" style="display: none;">
        <div class="spinner-border text-primary" role="status"></div>
    </div>

    <!-- here insert the body content of each page -->
    {% block content %}{% endblock %}

    <!-- Include the footer template -->
    {% include 'base/footer.html' %}
</body>
</html>
