{% load bootstrap5 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EscargotIT | {% block title %}{% endblock %}</title>
    
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.6.4.min.js' %}"></script>

    <!-- Load Bootstrap CSS -->
    {% bootstrap_css %}
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">EscargotIT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>

                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Sign in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if user.is_authenticated %}
    <nav class="navbar second navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'custom_admin_panel' %}">Manage Employees</a>
                    </li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i> {{ user.username }} <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'user_settings' %}">User Settings</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
            
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
    

    <style>
        nav.navbar.second {
            background-color: rgb(222, 221, 221) !important;
        }
        nav.navbar.second > div.container > div.collapse {
            flex-direction: row-reverse !important;
        }
    </style>



    {% block content %}{% endblock %}




    <!-- Include the footer template -->
    {% include 'base/footer.html' %}


    <!-- Load Bootstrap JavaScript and jQuery (optional) -->
    {% bootstrap_javascript %}

</body>
</html>
