{% extends "base/base.html" %}

{% block title %}
    Admin panel
{% endblock %}


{% block content %}

<div class="container mt-4">

    <h1>Admin panel</h1>

    <hr>
    <h2>Create a New Employee User</h2>
    <!-- catch successful employee creation message here -->
    {% if messages %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="register_employee">Create Employee User</button>
    </form>

    <hr>


    <h2>Assign Employee to Snail Bed</h2>

    <form method="post">
        {% csrf_token %}
        <label for="snail_bed">Select Snail Bed:</label>
        <select name="snail_bed_id" id="snail_bed">
            {% for snail_bed in snail_beds %}
                <option value="{{ snail_bed.id }}">{{ snail_bed.bed_name }}</option>
            {% endfor %}
        </select>

        <label for="employee">Select Employee:</label>
        <select name="employee_id" id="employee">
            {% for employee in employees %}
                <option value="{{ employee.id }}">{{ employee.user.username }}</option>
            {% endfor %}
        </select>

        <button type="submit" name="assign_employee">Assign Employee</button>
    </form>

    <hr>



    <h2>Delete Employee Account</h2>

    <form method="post">
        {% csrf_token %}
        {{ delete_form.employee_to_delete.label_tag }}
        {{ delete_form.employee_to_delete }}
     
        <button type="submit" name="delete_employee">Delete Employee</button>
    </form>
    
    <!-- Display form errors -->
    {% if delete_form.errors %}
        <div class="alert alert-danger">
            <strong>Error(s) in the form:</strong>
            <ul>
                {% for field, errors in delete_form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <hr>


    <h2>Snail Beds and Employees</h2>
    {% for bed in snail_beds %}
        <p>{{ bed.bed_name }} =>  Employee assigned: {{bed.employee}}</p> 
    {% endfor %}
    <hr>


    <a class="btn btn-success" href="{% url 'employees' %}">Manage Employees</a>

    <a class="btn btn-primary" href="{% url 'dashboard' %}">Back to Dashboard</a>

</div>

{% endblock %}