{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Snail Bed Performance for {{ bed_performance.snail_bed.bed_name }}
{% endblock %}

{% block scripts %}
    <link href="{% static 'css/bed-performance.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/bed_performance.js' %}" defer></script>
{% endblock %}


{% block content %}
<div class="container mt-4">

    <div class="outside-container">
        <h1>Snail Bed Performance for {{ bed_performance.snail_bed.bed_name }}</h1>
    </div>

    <!-- the loading circle modal that appears when user clicks any Generate Forecast button so they know to wait a bit -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="loader"></div>
            <p>We are using Machine Learning to generate forecasts for you. Please wait until your data insights are ready.</p>
            <div class="loader-container">
                <div class="loader-bar" id="loadingBar"></div>
            </div>
        </div>
    </div>

    <!-- Performance statistics -->
    <div class="dashboard-container">
        <h2>Bed Growth and Performance</h2>
        <div class="dashboard d-flex flex-row gap-3">
            
            <div class="metric-box half">
                <h2 class="metric-title">Net Snail Bed Growth</h2>
                <p>How many snails has the bed gained/lost since it was established.</p>
                <span class="metric-value label percentage good" data-start="0" data-end="{{ bed_performance.net_growth_amount }}" data-duration="4500"></span>
            </div>
            <div class="metric-box half">
                <h2 class="metric-title">Average Reproduction rate</h2>
                <p>Hatch rate minus Mortality rate</p>
                <span class="metric-value label percentage" data-start="0" data-end="{{ bed_performance.reproduction_rate }}" data-duration="2000"></span>
            </div>
        </div>
        <div class="dashboard">
            <div class="metric-box">
                <h2 class="metric-title">Bed Performance</h2>
                <p>It is normal to have performance above 100% as snail growth is often exponential. An example value of 300% means that the snail bed is producing x3 times more snails than the expected x1 multiplier given reproduction and maturity period expectations.</p>
                <span class="metric-value label percentage" data-start="0" data-end="{{ bed_performance.bed_performance }}" data-duration="3500"></span>
            </div>
        </div>
    </div>

    <!-- Hatch statistics -->
    <div class="dashboard-container">
        <div class="dashboard">
            <h2>Hatch rate</h2>
            <div class="metric-box">
                <h2 class="metric-title">Average Snail Hatch Rate</h2>
                <p>The percentage of snail eggs that have hatched compared to all existing snails in the bed.</p>
                <span class="metric-value label percentage good" data-start="0" 
                    data-end="{{ bed_performance.average_hatch_rate }}" data-duration="2500"></span>
            </div>

            <div class="metric-box">
                <h2 class="metric-title">Forecasted Next Hatch Amount</h2>
                <p>The next forecasted amount of snails that this snail bed will produce by hatching. 
                    This is the value of the first forecasted week following the last actual recorded value for the bed.</p>
                {% if forecast_hatch %}
                    <span class="metric-value label good" data-start="0" 
                        data-end="{{ forecast_hatch.forecasted_value }}" data-duration="3000"></span>
                    </div>

                    <div class="metric-box">
                        <h3>Forecasted amount of new snails hatched</h3>
                        <p>Forecasted data is for the following 8 weeks after last input record.</p>
                        <div class="dataframe-table">
                            {{ html_table_hatch | safe }}
                        </div>
                {% else %}
                <!-- this is what uses NeuralProphet machine learning to generate forecasts using existing data -->
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button id="generateHatchForecastButton" name="forecast_hatch">Generate Forecast</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Mortality statistics -->
    <div class="dashboard-container">
        <div class="dashboard">
            <div class="metric-box">
                <h2 class="metric-title">Average Mortality Rate</h2>
                <p>The proportion of snails in the snail bed that expire at each check time. How much the snail bed has decreased in population.</p>
                <span class="metric-value label percentage mortality" data-start="0" data-end="{{ bed_performance.average_mortality_rate }}" data-duration="2000"></span>
            </div>
        </div>
        <div class="metric-box">
            <h2 class="metric-title">Forecasted Next Mortality Amount</h2>
            <p>The forecasted number of snails in the snail bed that will expire at the next check. 
                How much the snail bed will decrease in population.</p>
            {% if forecast_mortality %}
                <span class="metric-value label mortality" data-start="0" 
                    data-end="{{ forecast_mortality.forecasted_value }}" data-duration="2500"></span>
                </div>
                
                <div class="metric-box">
                    <h3>Forecasted amount of expired snails</h3>
                    <p>Forecasted data is for the following 8 weeks after last input record.</p>
                    <div class="dataframe-table">
                        {{ html_table_mortality | safe }}
                    </div>
            {% else %}
            <!-- this is what uses NeuralProphet machine learning to generate forecasts using existing data -->
                <form method="POST" action="">
                    {% csrf_token %}
                    <button id="generateMortalityForecastButton" name="forecast_mortality">Generate Forecast</button>
                </form>
            {% endif %}
        </div>
    </div>

    <!-- Maturity / TimeTakenToMature statistics -->
    <div class="dashboard-container">
        <div class="dashboard d-flex flex-row gap-3">
            <div class="metric-box half">
            <h2 class="metric-title">Average Maturity Rate</h2>
            <p>The proportion of snails in the snail bed that have reached maturity at check time.</p>
            <span class="metric-value label percentage" data-start="0" data-end="{{ bed_performance.average_maturity_rate }}" data-duration="2000"></span>
            </div>
            <div class="metric-box half">
                <h2 class="metric-title">Average Days for Maturity</h2>
                <p>A calculated average time of snails reaching maturity age from all records by staff.</p>
                <span class="metric-value label days" data-start="0" data-end="{{ bed_performance.actual_average_time_to_maturity }}" data-duration="4000"></span>
            </div>
        </div>
        <div class="dashboard">
            <div class="metric-box">
                <h2 class="metric-title">Forecasted Next Amount at Maturity</h2>
                <p>The forecasted amount of the snails in this snail bed that will reach maturity.</p>
                {% if forecast_maturity %}
                    <span class="metric-value label" data-start="0" 
                        data-end="{{ forecast_maturity.forecasted_value }}" data-duration="3000"></span>
                    </div>
                    
                    <div class="metric-box">
                        <h3>Forecasted snails to reach maturity (marketable age)</h3>
                        <p>Forecasted data is for the following 8 weeks after last input record.</p>
                        <div class="dataframe-table">
                            {{ html_table_maturity | safe }}
                        </div>
                {% else %}
                <!-- this is what uses NeuralProphet machine learning to generate forecasts using existing data -->
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button id="generateMaturityForecastButton" name="forecast_maturity">Generate Forecast</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="button-container outside-container">
        <a href="{% url 'dashboard' %}">Go Back</a>
    </div>
</div>

{% endblock %}