{% extends "base/base.html" %}
{% load filters %}

{% block title %}
    Dashboard
{% endblock %}


{% block content %}

<div class="container">

     <!-- Add the error messages section here -->
     {% if messages %}
     <div class="alert alert-danger">
         <ul>
             {% for message in messages %}
                 <li>{{ message }}</li>
             {% endfor %}
         </ul>
     </div>
 {% endif %}


    <div class="row">
        <div class="col">
            <!-- Left side content -->
            <h1>Welcome, {{ user.username }}!</h1>
            {% if is_admin %}
                <h3>Account type: Admin</h3>
            {% else %}
                <h3>Account type: Employee</h3>
            {% endif %}
            <p>User Profile Information:</p>
            <ul>
                <li>Full Name: {{ user.first_name }} {{ user.last_name }}</li>
                <li>Email: {{ user.email }}</li>
            </ul>

            <h2>Settings</h2>
            <ul>
                <li><a href="{% url 'user_settings' %}">User Settings</a></li>
            </ul>
        </div>
        <div class="col">
            <!-- Right side content -->

            <h2>Snail Bed Boxes</h2>

            {% if error_message %}
                <h3>{{ error_message }}</h3>
            {% else %}
                <h3>Number of Snail Beds: {{ snail_bed_count }}</h3>

                <div class="rectangle">
                    <!-- Existing SnailBed boxes -->
                    {% for snail_bed in snail_beds %}
                        <div class="snail-box {% if snail_bed.is_empty %}empty{% else %}solid{% endif %}
                        {% if snail_bed.snailbedperformance.bed_performance < 20 %}
                            red-bg
                        {% elif snail_bed.snailbedperformance.bed_performance >= 20 and snail_bed.snailbedperformance.bed_performance <= 70 %}
                            yellow-bg
                        {% elif snail_bed.snailbedperformance.bed_performance > 70 %}
                            green-bg
                        {% endif %}"
                                data-bed-name="{{ snail_bed.bed_name }}"
                                data-bed-employee="{{ snail_bed.employee }}"
                                data-bed-id="{{ snail_bed.id }}"
                                data-bed-hatch="{{ snail_bed.hatch_rate }}"
                                data-bed-mortality="{{ snail_bed.mortality_rate }}"
                                data-bed-maturity="{{ snail_bed.maturity_rate }}"
                                data-bed-snails="{{ snail_bed.snail_amount }}">
                            <span>{{ snail_bed.name }}</span>
                            <p>Performance: {{ snail_bed.snailbedperformance.bed_performance }}%</p>
                        </div>
                    {% endfor %}
                </div>

                {% if snail_bed_count > 0 %}
                    <button type="button" class="btn btn-primary" 
                            id="logDataButton"
                            data-snail-bed-id="{{ snail_bed.id }}">
                        Log Data
                    </button>
                {% endif %}

                {% with current_user|classname as modelclass %}
                    {% if modelclass == "AdminUser" %}
                        <!-- Button to view barchart -->
                        <button id="view-barchart-button" class="btn btn-success">View Barchart & Correlations</button>
                    {% endif %}
                

                    <!-- Conditional check to display the "Create Box" button for admins only -->
                    {% if current_user.can_create_snailbed %}
                        <form method="POST" action="{% url 'dashboard' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" name="add-box-button">Add Box</button>
                        </form>

                        {% if snail_bed_count > 0 %}
                        
                            {% if modelclass == "AdminUser" %}
                                <!-- Button to delete all SnailBed objects for this user -->
                                <form method="POST" action="{% url 'delete_all_snailbeds' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" name="delete-all-boxes-button">Delete All Boxes</button>
                                </form>

                                <!-- Add a button to delete the selected snail bed -->
                                <button type="button" class="btn btn-danger" id="delete-snail-bed-button">Delete Selected Snail Bed</button>

                            {% endif %}
                            
                        {% endif %}
                    {% endif %}
                {% endwith %}
                
            {% endif %}
        </div>
    </div>
    <!-- Container to display selected snail bed data stats -->
    <div id="selected-box-data" class="container" style="display: none;">
        <h3>Selected Box Data</h3>
        <div id="box-name"></div>
        <div id="box-employee"></div>
        <div id="box-hatch"></div>
        <div id="box-mortality"></div>
        <div id="box-maturity"></div>
        <div id="box-snails"></div>
        <div id="box-details"></div>
        <div id="box-feed"></div>
    </div>
</div>



<!-- this is the pop up with the options to log data for the selected snail bed. This pops up on screen when "Log data" is clicked -->
<div class="modal fade" id="logDataModal" tabindex="-1" aria-labelledby="logDataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logDataModalLabel">Log Data Options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Select an option:</p>
                <ul>
                    <li><a id="box-hatch-link" href="log_hatch_rate/">Log Hatched Snails</a></li>
                    <li><a id="box-mortality-link" href="log_mortality_rate/">Log Snails Expired</a></li>
                    <li><a id="box-feed-link" href="log_snail_feed/">Log Feed Given</a></li>
                    <li><a id="box-maturity-link" href="log_maturity_rate/">Time taken to reach Maturity</a></li>
                   
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

// Add click event listener to the "View Barchart" button
document.getElementById("view-barchart-button").addEventListener("click", function () {
    const selectedBox = document.querySelector(".snail-box.expanded");
    if (selectedBox) {
        const selectedBoxId = selectedBox.getAttribute("data-bed-id");
        // Redirect to the correlation chart view with the selected SnailBed ID
        window.location.href = `/barchart/${selectedBoxId}`;
    } else {
        alert("Select a Snail Bed first");
    }
});


// make sure that a Snail Bed is selected when Log Data button is clicked
document.addEventListener("DOMContentLoaded", function () {
    // Get the button element
    var logDataButton = document.getElementById("logDataButton");
    // Add a click event listener to the button
    logDataButton.addEventListener("click", function () {
        const selectedBox = document.querySelector(".snail-box.expanded");
        console.log(selectedBox)
        if (!selectedBox) {
            // If no box is selected, show an alert
            alert("Select a Snail Bed first");
        } else {
            // Show the modal with the specified ID when the button is clicked
            var logDataModal = new bootstrap.Modal(document.getElementById("logDataModal"));
            logDataModal.show();
        }
    });
});

// Toggle the selected snail bed. Unselect the previously selected, then select the clicked on.
// get all its object fields and repopulate the stats box
document.addEventListener("DOMContentLoaded", function () {
    const rectangle = document.querySelector(".rectangle");

    // Toggle box border and display selected data
    function toggleBox(box) {
        const selectedBox = rectangle.querySelector(".snail-box.expanded");
        if (selectedBox) {
            selectedBox.classList.remove("expanded");
        }
        if (box !== selectedBox) {
            box.classList.add("expanded");
            const boxName = box.getAttribute("data-bed-name");
            const boxEmployees = box.getAttribute("data-bed-employee");
            const boxId = box.getAttribute("data-bed-id");
            const boxHatch = box.getAttribute("data-bed-hatch");
            const boxMortality = box.getAttribute("data-bed-mortality");
            const boxMaturity = box.getAttribute("data-bed-maturity");
            const boxSnails = box.getAttribute("data-bed-snails");

            document.getElementById("box-name").innerText = "Name: " + boxName;

            if ( boxEmployees != "None") { 
                document.getElementById("box-employee").innerHTML = 
                `<p id="box-employee-text"></p>
                <a id="box-unassign-employee" class="btn btn-primary btn-sm">Unassign employee</a>`
                document.getElementById("box-unassign-employee").href = "/unassign_employee/" + boxId;
                document.getElementById("box-employee-text").innerText = "Assigned employee: " + boxEmployees;
            } else { document.getElementById("box-employee").innerText = "Assigned employee: Not assigned";}


            if (boxHatch != "None") { 
                document.getElementById("box-hatch").innerHTML = 
                `<p id="box-hatch-text"></p>
                <a id="box-hatch-history" class="btn btn-primary btn-sm">View Hatch Rate History</a>`
                document.getElementById("box-hatch-history").href = "/view_hatch_rate_history/" + boxId;
                document.getElementById("box-hatch-text").innerText = "Hatch rate: " + boxHatch;
            } else { document.getElementById("box-hatch").innerText = "Hatch rate: No data available"; }



            if (boxMortality != "None") { 
                document.getElementById("box-mortality").innerHTML = 
                `<p id="box-mortality-text"></p>
                <a id="box-mortality-history" class="btn btn-primary btn-sm">View Mortality Rate History</a>`
                document.getElementById("box-mortality-history").href = "/view_mortality_rate_history/" + boxId;
                document.getElementById("box-mortality-text").innerText = "Mortality rate: " + boxMortality;
            } else { document.getElementById("box-mortality").innerText = "Hatch rate: No data available";}


            
            if (boxMaturity != "None") { 
                document.getElementById("box-maturity").innerHTML = 
                `<p id="box-maturity-text"></p>
                <a id="box-maturity-history" class="btn btn-primary btn-sm">View Maturity Rate History</a>`
                document.getElementById("box-maturity-history").href = "/view_maturity_rate_history/" + boxId;
                document.getElementById("box-maturity-text").innerText = "Maturity rate: " + boxMaturity; 
            } else { document.getElementById("box-maturity").innerText = "Maturity rate: No data available";}


            //  Generate Snail Feed History button
            document.getElementById("box-feed").innerHTML = 
            `<a class="btn btn-success" id="box-feed-history">Snail Feed History</a>`;
            document.getElementById("box-feed-history").href = "/view_feed_history/" + boxId;

            //  generate Bed Performance button
            document.getElementById("box-details").innerHTML = 
            `<a class="btn btn-success" id="box-details-link">Inspect Snail Bed</a>`;
            document.getElementById("box-details-link").href = "/bed_performance/" + boxId;
            
            
            document.getElementById("box-snails").innerText = "Snails: " + boxSnails;

            document.getElementById("box-hatch-link").href = "/log_hatch_rate/" + boxId;
            document.getElementById("box-mortality-link").href = "/log_mortality_rate/" + boxId;
            document.getElementById("box-maturity-link").href = "/log_maturity_rate/" + boxId;
            document.getElementById("box-feed-link").href = "/log_snail_feed/" + boxId;

            document.getElementById("selected-box-data").style.display = "block";
        } else {
            document.getElementById("selected-box-data").style.display = "none";
        }
    }

    // Add click event listeners to all snail-box elements
    const snailBoxes = rectangle.querySelectorAll(".snail-box");
    snailBoxes.forEach(function (box) {
        box.addEventListener("click", function () {
            toggleBox(box);
        });
    });
});


//  handle the Delete selected snail bed button
document.addEventListener("DOMContentLoaded", function () {
    // Get the delete button element
    var deleteButton = document.getElementById("delete-snail-bed-button");

    // Add a click event listener to the delete button
    deleteButton.addEventListener("click", function () {
        const selectedBox = document.querySelector(".snail-box.expanded");
        if (selectedBox) {
            const selectedBoxId = selectedBox.getAttribute("data-bed-id");
            // Confirm the deletion with a confirmation dialog
            if (confirm("Are you sure you want to delete this Snail Bed?")) {
                // Redirect to the delete view with the selected SnailBed ID
                window.location.href = `/delete_snailbed/${selectedBoxId}`;
            }
        } else {
            alert("Select a Snail Bed first");
        }
    });
});
</script>


<style>
    .rectangle {
        width: 50%; /* Takes the right half of the screen */
        border: 2px solid #ccc;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .snail-box {
        width: calc(25% - 20px); /* 25% of the rectangle width with some spacing */
        border: 2px dashed #ccc;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        transition: border 0.3s ease-in-out;
        cursor: pointer;
    }

    .snail-box.empty {
        background-color: #f0f0f0;
    }

    .snail-box.expanded {
        border: 2px solid #000;
    }

    /* Add conditional background color to each snail bed based on performance % */
    .snail-box.red-bg {
        background-color: rgba(255, 0, 0, 0.486);
    }

    .snail-box.yellow-bg {
        background-color: rgba(255, 196, 0, 0.561);
    }

    .snail-box.green-bg {
        background-color: rgba(0, 255, 0, 0.5);
    }
</style>
{% endblock %}