{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Employee Users List
{% endblock %}

{% block scripts %}
    <link href="{% static 'css/employee-user-list.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="main container mt-4">
    <h1>Employees User Accounts</h1>
    <ul>
        {% for employee in employees %}
            <li>
                <p>{{ employee.user.username }} - {{ employee.user.email }}  
                <a href="{% url 'manage_employee' employee.id %}" class="btn btn-primary btn-sm">Manage</a>
            </li>
        {% empty %}
            <li>No employees found.</li>
        {% endfor %}
    </ul>


    <div class="pagination">
        <span class="step-links">
            {% if employees.has_previous and employees.has_next %}
                {% if employees.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ employees.previous_page_number }}">previous</a>
                {% endif %}
                
                <span class="current-page">
                    Page {{ employees.number }} of {{ employees.paginator.num_pages }}
                </span>

                {% if employees.has_next %}
                    <a href="?page={{ employees.next_page_number }}">next</a>
                    <a href="?page={{ employees.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            {% else %}
                <span class="current-page">
                    Page 1 of 1
                </span>
            {% endif %}
        </span>
    </div>


    <div id="button-container">
        <a class="btn btn-secondary" href="{% url 'custom_admin_panel' %}">Go Back</a>
    </div>
</div>
{% endblock %}
