{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Manage Employee: {{ employee.user.username }}
{% endblock %}

{% block scripts %}
    <link href="{% static 'css/manage-employee.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="main container mt-4">
    <h1>Manage Employee: {{ employee.user.username }}</h1>

    <h2>Employee Details</h2>
    <p>Username: {{ employee.user.username }}</p>
    <p>Email: {{ employee.user.email }}</p>
    <p>Can create Snail Beds: {{ employee.can_create_snailbed }}</p>
    <hr>

    <h2>Permissions</h2>
    <form id="permissions" method="post">
        {% csrf_token %}
        <label for="can_create_snailbed">Can Create SnailBeds:</label>
        <input type="checkbox" id="can_create_snailbed" name="can_create_snailbed" {% if employee.can_create_snailbed %}checked{% endif %}>
        <button type="submit">Save</button>
    </form>
    <hr>

    <h2>Assigned SnailBeds</h2>
    <ul>
        {% for snailbed in snailbeds_assigned %}
            <li>
                {{ snailbed.bed_name }}
                <form method="post" class="unassign-form" action="/unassign_employee/{{ snailbed.id }}/">
                    {% csrf_token %}
                    <input type="hidden" name="snailbed_id" value="{{ snailbed.id }}">
                    <button type="submit" class="btn btn-danger">Unassign</button>
                </form>
            </li>
        {% empty %}
            <li>No SnailBeds assigned.</li>
        {% endfor %}
    </ul>
    <hr>


    <h2 id="employee-account-form-title">Edit Employee Account Information</h2>
    <form method="post">
        {% csrf_token %}
        {{ change_form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    <hr>

    <div id="button-container">
        <a class="btn btn-secondary" href="{% url 'employees' %}">Go Back</a>
    </div>
</div>
{% endblock %}
